* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #F9F9F9;
}

.container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}
.container .left {
  width: 212px;
  flex-shrink: 0;
  border-radius: 40px 0px 0px 40px;
  background: #FFF;
  box-shadow: 1px 0px 2px 0px rgba(128, 128, 128, 0.1);
  padding: 40px 20px 35px;
  display: flex;
  gap: 110px;
  flex-direction: column;
  align-items: center;
}
.container .left .btns-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 100px;
}
.container .left .btns-box .btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 7px;
  width: 172px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 30px;
}
.container .left .btns-box .btn p {
  color: var(--white, #ABB5BA);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .left .btns-box .btn div {
  padding: 6.5px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 50%;
}
.container .left .btns-box .btn div i {
  color: #ABB5BA;
  font-size: 21px;
}
.container .left .btns-box .btn:hover {
  background: var(--red-orange, #EB763C);
}
.container .left .btns-box .btn:hover p {
  color: var(--white, #FFF);
}
.container .left .btns-box .btn:hover div {
  background: var(--white, #FFF);
}
.container .left .btns-box .btn:hover div i {
  color: #EB763C;
}
.container .left .btns-box .btn:nth-child(1) div {
  padding: 4px 7px;
}
.container .left .btns-box .btn:nth-child(2) div {
  padding: 4px 7px;
}
.container .left .btns-box .btn:nth-child(3) div {
  padding: 6px 7.3px;
}
.container .left .btns-box .btn:nth-child(4) div {
  padding: 4.5px 7.3px;
}
.container .left .btns-box .btn:nth-child(5) div {
  padding: 4.8px 7px;
}
.container .left .btns-box .btn:nth-child(6) div {
  padding: 4px 7px;
}
.container .center {
  width: 850px;
  display: flex;
  flex-direction: column;
  padding: 35px 40px;
  gap: 30px;
  background: #F9F9F9;
}
.container .center .center-top {
  display: flex;
  gap: 195px;
}
.container .center .center-top .enter-text {
  display: flex;
  align-items: center;
  gap: 190px;
  align-items: center;
  width: 492px;
  height: 50px;
  border-radius: 30px;
  background: #ECF0F3;
}
.container .center .center-top .enter-text input {
  width: 250px;
  padding: 15px;
  background: none;
  outline: none;
  border: none;
}
.container .center .center-top .enter-text input::-moz-placeholder {
  color: #B2BAC8;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 30px;
}
.container .center .center-top .enter-text input::placeholder {
  color: #B2BAC8;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 30px;
}
.container .center .center-top .enter-text .search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
}
.container .center .center-top .language {
  display: flex;
  gap: 15px;
}
.container .center .center-top .language .flag {
  width: 49px;
  height: 49px;
  flex-shrink: 0;
  background: #D3F8D8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .center .hero {
  display: flex;
  width: 775px;
  height: 280px;
  border-radius: 24px;
  background: #1AA928;
  position: relative;
}
.container .center .hero .bg-fill1 {
  background-image: url("./images/fill1.svg");
  position: absolute;
  top: 35px;
  opacity: 0.115;
}
.container .center .hero .bg-fill2 {
  background-image: url("./images/fill2.svg");
  top: 42.81px;
  opacity: 0.05;
}
.container .center .hero .tex {
  max-width: 365px;
  padding: 35px 0 31px 51px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .center .hero .tex h3 {
  color: var(--white, #FFF);
  font-family: LeMonde Livre;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.5px;
  text-align: start;
}
.container .center .hero .tex > p {
  color: #DCE0E5;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 14px;
}
.container .center .hero .tex .btn-view {
  width: 139px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--red-orange, #EB763C);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .center .hero .tex .btn-view p {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.28px;
}
.container .center .hero .imgbox {
  position: relative;
}
.container .center .hero .imgbox img {
  position: absolute;
}
.container .center .hero .imgbox img:nth-child(1) {
  top: 24px;
  left: 62px;
}
.container .center .hero .imgbox img:nth-child(2) {
  top: 56px;
  left: 182px;
}
.container .center .hero .imgbox img:nth-child(3) {
  top: 75px;
  left: 171px;
}
.container .center .sec1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .center .sec1 h2 {
  color: var(--black-font, #303030);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
.container .center .sec1 h2 b {
  color: #1AA928;
  padding-left: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .center .sec1 .popular {
  display: flex;
  justify-content: space-between;
}
.container .center .sec1 .popular .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.container .center .sec1 .popular .card #user {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #27A857;
  padding: 3.65px;
}
.container .center .sec1 .popular .card #user > img {
  border-radius: 50%;
}
.container .center .sec1 .popular .card h1 {
  color: #434C56;
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .center .sec1 .popular .card p {
  color: #8D96A8;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .center .line {
  width: 775px;
  height: 1px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #E0E7EB;
}
.container .center .foot {
  display: flex;
  gap: 28px;
}
.container .center .rood {
  display: flex;
  padding: 10px;
  width: 240px;
  height: 87px;
  gap: 25px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--white, #FFF);
  box-shadow: 0px 20px 60px 0px rgba(128, 144, 155, 0.2);
}
.container .center .rood .room {
  padding: 13px;
  width: 67px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #E4FBE7;
}
.container .center .rood .read-books {
  align-items: center;
}
.container .center .rood .read-books h1 {
  color: var(--black-font, #303030);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .center .rood .read-books p {
  color: #8A97A4;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .finish {
  width: 378px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background: #E4FBE7;
  padding: 35px 33px;
  gap: 30px;
}
.container .finish .div2 {
  gap: 20px;
  display: flex;
}
.container .finish .div2 .poisk {
  display: flex;
  width: 243px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #FFF);
  padding: 6px;
  align-items: center;
  gap: 15px;
}
.container .finish .div2 .poisk h1 {
  color: #212121;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 36px;
}
.container .finish .div2 .bel {
  display: flex;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #fff;
  padding: 11.5px;
}
.container .finish .wonder {
  display: flex;
  flex-direction: column;
  width: 313px;
  height: 331px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 40px 60px 0px rgba(128, 144, 155, 0.25);
  background-image: url(./images/Wing.png), url(./images/Group\ 2.png);
  background-repeat: no-repeat;
  background-position: 0 58px, 28px 179px;
  gap: 20px;
}
.container .finish .wonder .card {
  display: flex;
  align-items: center;
  padding: 26px 20px 0;
  gap: 21px;
}
.container .finish .wonder .card img:nth-child(2) {
  border-radius: 14px;
  border: 2px solid var(--green-1, #27A857);
  padding: 3px;
}
.container .finish .wonder .text h1 {
  color: var(--gray-1, #333);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .finish .wonder .text p {
  color: #70808F;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .finish .wonder .media {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
}
.container .finish .wonder .media .next {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: #D6F5E1;
  border-radius: 50%;
  padding: 12px;
}
.container .finish .wonder .media .paus {
  position: relative;
}
.container .finish .wonder .media .paus img:nth-child(2) {
  position: absolute;
  top: 10px;
  right: 10px;
}
.container .finish .wonder .media .next {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: #D6F5E1;
  border-radius: 50%;
  padding: 12px;
}
.container .finish .tex {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .finish .tex h1 {
  color: var(--gray-1, #333);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.66px;
  text-align: start;
}
.container .finish .tex .card {
  margin-bottom: 10px;
  width: 313px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 20px 60px 0px rgba(128, 144, 155, 0.2);
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 15px;
}
.container .finish .tex .card .text {
  padding-right: 29px;
}
.container .finish .tex .card .text h2 {
  color: var(--gray-1, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .finish .tex .card .text p {
  color: #8A97A4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
}
.container .finish .tex .card p {
  color: #8998A9;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .finish .allfinish {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 3px;
}
.container .finish .allfinish h3 {
  padding-top: 2.5px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.66px;
}
.container .finish .allfinish .fastcard {
  padding: 14px 30px;
  width: 313px;
  height: 118px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 20px 60px 0px rgba(128, 144, 155, 0.2);
  display: flex;
  align-items: center;
  position: relative;
  gap: 24px;
}
.container .finish .allfinish .fastcard .so-card h1 {
  color: var(--green-1, #27A857);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 10px;
}
.container .finish .allfinish .fastcard .so-card img {
  text-align: start;
}
.container .finish .allfinish .fastcard .no-card {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .finish .allfinish .fastcard .no-card h1 {
  color: var(--green-1, #27A857);
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .finish .allfinish .fastcard .no-card .pic {
  position: absolute;
}/*# sourceMappingURL=style.css.map */