* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
   text-decoration: none;
}

header {
    background: #F9F9F9;

    .container {
        max-width: 1440px;
        display: flex;
        margin: 0 auto;

        .left {
            width: 212px;

            flex-shrink: 0;
            border-radius: 40px 0px 0px 40px;
            background: #FFF;
            box-shadow: 1px 0px 2px 0px rgba(128, 128, 128, 0.10);
            padding: 40px 20px 35px;
            display: flex;
            gap: 110px;
            flex-direction: column;
            align-items: center;

            .btns-box {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding-bottom: 100px;

                .btn {

                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 7px;
                    width: 172px;
                    height: 50px;
                    flex-shrink: 0;
                    border-radius: 30px;

                    p {
                        color: var(--white, #ABB5BA);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    div {
                        padding: 6.5px;
                        width: 36px;
                        height: 36px;
                        flex-shrink: 0;

                        border-radius: 50%;

                        i {
                            color: #ABB5BA;
                            font-size: 21px;
                        }
                    }
                }

                .btn:hover {
                    background: var(--red-orange, #EB763C);

                    p {
                        color: var(--white, #FFF);
                    }

                    div {
                        background: var(--white, #FFF);

                        i {
                            color: #EB763C;
                        }
                    }
                }

                .btn:nth-child(1) {
                    div {
                        padding: 4px 7px;
                    }
                }

                .btn:nth-child(2) {
                    div {
                        padding: 4px 7px;
                    }
                }

                .btn:nth-child(3) {
                    div {
                        padding: 6px 7.3px;
                    }
                }

                .btn:nth-child(4) {
                    div {
                        padding: 4.5px 7.3px;
                    }
                }

                .btn:nth-child(5) {
                    div {
                        padding: 4.8px 7px;
                    }
                }

                .btn:nth-child(6) {
                    div {
                        padding: 4px 7px;
                    }
                }


            }
        }

        .center {
            width: 850px;
            display: flex;
            flex-direction: column;
            padding: 35px 40px;
            gap: 30px;
            background: #F9F9F9;

            .center-top {
                display: flex;
                gap: 195px;


                .enter-text {
                    display: flex;
                    align-items: center;
                    gap: 190px;
                    align-items: center;
                    width: 492px;
                    height: 50px;
                    border-radius: 30px;
                    background: #ECF0F3;

                    input {
                        width: 250px;
                        padding: 15px;
                        background: none;
                        outline: none;
                        border: none;

                    }

                    input::placeholder {
                        color: #B2BAC8;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        padding-left: 30px;
                    }

                    .search {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        flex-shrink: 0;
                        background-color: white;
                        border-radius: 50%;

                    }
                }

                .language {
                    display: flex;
                    gap: 15px;

                    .flag {
                        width: 49px;
                        height: 49px;
                        flex-shrink: 0;
                        background: #D3F8D8;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }


            .hero {
                display: flex;

                width: 775px;
                height: 280px;
                flex-shrink: 0;
                border-radius: 24px;
                background: #1AA928;
                position: relative;

                &>img {
                    position: absolute;
                    top: 35px;
                    opacity: 0.115;
                }

                &>img:nth-child(1) {
                    top: 42.81px;
                    opacity: 0.05;
                }

                .tex {
                    max-width: 365px;
                    padding: 35px 0 31px 51px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h3 {
                        color: var(--white, #FFF);
                        font-family: LeMonde Livre;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;
                        letter-spacing: 1.5px;
                        text-align: start;
                    }

                    &>p {
                        color: #DCE0E5;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding-bottom: 14px;
                    }

                    .btnn {
                        width: 139px;
                        height: 42px;
                        flex-shrink: 0;
                        border-radius: 30px;
                        background: var(--red-orange, #EB763C);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            color: white;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: normal;
                            letter-spacing: 0.28px;

                        }
                    }

                }

                .imgbox {
                    position: relative;

                    img {
                        position: absolute;
                    }

                    img:nth-child(1) {
                        top: 24px;
                        left: 62px;
                    }

                    img:nth-child(2) {
                        top: 56px;
                        left: 182px;
                    }

                    img:nth-child(3) {
                        top: 75px;
                        left: 171px;
                    }

                }
            }

            .sec1 {
                display: flex;
                flex-direction: column;
                gap: 15px;

                h2 {
                    color: var(--black-font, #303030);

                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.24px;

                    b {
                        color: #1AA928;

                        padding-left: 30px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }

                .popular {
                    display: flex;
                    justify-content: space-between;

                    .card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;

                        #user {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            border: 2px solid #27A857;
                            padding: 3.65px;

                            &>img {
                                border-radius: 50%;
                            }

                        }

                        h1 {
                            color: #434C56;
                            text-align: center;
                            padding-top: 5px;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        p {
                            color: #8D96A8;
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .line {
                width: 775px;
                height: 1px;
                flex-shrink: 0;
                border-radius: 20px;
                background: #E0E7EB;
            }

            .foot {
                display: flex;
                gap: 28px;
            }

            .rood {
                display: flex;
                padding: 10px;
                width: 240px;
                height: 87px;
                gap: 25px;
                flex-shrink: 0;
                border-radius: 16px;
                background: var(--white, #FFF);
                box-shadow: 0px 20px 60px 0px rgba(128, 144, 155, 0.20);

                .room {
                    padding: 13px;
                    width: 67px;
                    height: 67px;
                    flex-shrink: 0;
                    border-radius: 11px;
                    background: #E4FBE7;

                }

                .tex {

                    align-items: center;

                    h1 {
                        color: var(--black-font, #303030);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    p {
                        color: #8A97A4;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                }
            }
        }

        .finish {
            width: 378px;
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            background: #E4FBE7;
            padding: 35px 33px;
            gap: 30px;

            .div2 {


                gap: 20px;
                display: flex;

                .poisk {
                    display: flex;
                    width: 243px;
                    height: 50px;
                    flex-shrink: 0;
                    border-radius: 30px;
                    background: var(--white, #FFF);
                    padding: 6px;
                    align-items: center;
                    gap: 15px;


                    h1 {
                        color: #212121;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        padding-right: 36px;
                    }

                }

                .bel {
                    display: flex;
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    background-color: #fff;
                    padding: 11.5px;

                }

            }

            .wonder {
                display: flex;
                flex-direction: column;
                width: 313px;
                height: 331px;
                border-radius: 16px;
                background: #FFF;
                box-shadow: 0px 40px 60px 0px rgba(128, 144, 155, 0.25);
                background-image: url(./images/Wing.png), url(./images/Group\ 2.png);
                background-repeat: no-repeat;
                background-position: 0 58px, 28px 179px;
                gap: 20px;

                .card {
                    display: flex;
                    align-items: center;
                    padding: 26px 20px 0;
                    gap: 21px;

                    img:nth-child(2) {
                        border-radius: 14px;
                        border: 2px solid var(--green-1, #27A857);
                        padding: 3px;
                    }
                }

                .text {
                    h1 {
                        color: var(--gray-1, #333);
                        text-align: center;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    p {
                        color: #70808F;
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }


                .media {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    gap: 30px;

                    .next {
                        width: 40px;
                        height: 40px;
                        flex-shrink: 0;
                        background: #D6F5E1;
                        border-radius: 50%;
                        padding: 12px;
                    }

                    .paus {
                        position: relative;

                        img:nth-child(2) {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }

                    .next {
                        width: 40px;
                        height: 40px;
                        flex-shrink: 0;
                        background: #D6F5E1;
                        border-radius: 50%;
                        padding: 12px;
                    }
                }

            }

            .tex {
                padding-top: 2px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h1 {
                    color: var(--gray-1, #333);
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.66px;
                    text-align: start;

                }

                .card {
                    margin-bottom: 10px;
                    width: 313px;
                    height: 80px;
                    flex-shrink: 0;
                    border-radius: 14px;
                    background: #FFF;
                    box-shadow: 0px 20px 60px 0px rgba(128, 144, 155, 0.20);
                    display: flex;
                    padding: 5px;
                    align-items: center;
                    gap: 15px;

                    .text {

                        padding-right: 29px;

                        h2 {
                            color: var(--gray-1, #333);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        p {
                            color: #8A97A4;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-align: start;
                        }
                    }

                    p {
                        color: #8998A9;
                        text-align: right;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }


            }

            .allfinish {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-top: 3px;

                h3 {
                    padding-top: 2.5px;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.66px;
                }

                .fastcard {
                    padding: 14px 30px;
                    width: 313px;
                    height: 118px;
                    flex-shrink: 0;
                    border-radius: 16px;
                    background: #FFF;
                    box-shadow: 0px 20px 60px 0px rgba(128, 144, 155, 0.20);
                    display: flex;
                    align-items: center;
                    position: relative;
                    gap: 24px;

                    .so-card {
                        h1 {
                            color: var(--green-1, #27A857);
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            padding-bottom: 10px;
                        }

                        img {
                            text-align: start;
                        }
                    }

                    .no-card {
                        width: 70px;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            color: var(--green-1, #27A857);
                            text-align: center;
                            align-items: center;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;

                        }

                        .pic {
                            position: absolute;

                        }

                    }
                }

            }

        }
    }
}